body {
    font-family: Roboto, sans-serif;
}

.section-title {
    font-family: 'PT Serif', serif;
    color: #0000;
    font-size: xx-large;
}

.navbar {
    background-color: #D8afaf;
}

.nav .nav-link.active {
    background-color: #ffff;
    color: #000000;
}

.logo {
    max-height: 200px;
}

.navbar-brand {
    color:black;
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.subtitle1 {
    color: #999999;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 26px;
}

.subtitle2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav .nav-link,
.subtitle2,
.navbar-brand:hover {
    color: #ffff;
}


.navbar-toggler {
    background-color: #7f573b;
    color: #ffff;
}

#capa {
    text-align: center;
    background: linear-gradient(to bottom, #D8afaf 5%, #fad7d7 70%);
    height: 100%;
}

.imagem-capa {
    max-width: 100%;
    transition: transform 0.5s ease;
    display: inline-block;
    bottom: 0;
    transform-origin: center bottom;
}

.imagem-capa:hover {
    transform: scale(1.05);
}

#sobre-mim {
    background-color: #D8afaf;
    z-index: 0;
}

.sobre-mim-imagem-container {
    position: relative;
    z-index: 2;
}

.sobre-mim-imagem {
    max-height: 500px;
    border-radius: 10px;
    display: inline-block;
    z-index: 2;
}

.sobre-mim-texto {
    z-index: 1;
}