* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* #ffc9c9*/

header {
    padding: 10px 0;
    background-image: linear-gradient(to right,#f5f5f5, #c6838c);
    color: #ecf0f1;
}
.logo {
    height: 150px;
    background-color: transparent;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: normal;
    color: #000;
}

header h3 {
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 24px;
}

#page-tittle {
    display: flex;
    flex-direction: column;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header button {
    background-color: #805359;
    color: #f5f5f5;
    padding: 10px 20px;
    border: 2px 2px;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}

header button:hover {
    background-color: #f5f5f5;
    color: #000;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav {
    margin-left: auto;
    margin-right: 24px;
    padding-bottom: 7px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

section .container {
    display: flex;
    align-items: center;
}

section h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 16px;
}

section h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: normal;
}

section {
    padding: 24px 0;
    background-image: linear-gradient(to right,#fff);
    color: #000;
}

section p {
    margin: 16px;
    text-align: justify;
}

section img {
    height: 500px;
    border-radius: 15px;
    border: none;
    margin: 32px;
    margin-left: auto;
}

.carolina-img {
    background-color: #FFF;
    padding: 20px;
    border: 30px solid #ecbec3;
    height: 400px;
    margin-right: 0px;
    margin-left: 24px;
}


#family-medicine div {

    width: 100%;
}

#text-family {
    background: #fffbfb;
    padding: 20px;
    border: 10px solid #ecbec3;
    border-radius: 24px;
    margin-left: 24px;
    text-align: justify;
}

#text-services ul {
    padding: 10px;
    margin-left: 100px;
}

#text-services li {
    padding: 10px;
    margin-left: 24px;
    font-size: 24px;
    color: #c6838c;
}

#text-services h1 {
    text-align: center;
}

/*
#family-medicine img {
    margin-left: 24px;
}*/

#text-about {
    margin-left: 24px;
}

#contact .container {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#contact .container h3 {
    font-weight: normal;
}

.contact-methods {
    display: flex;
    justify-content:center;
    align-items: top;
    text-align: center;
}

.social-links img {
    height: 200px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

#contact h2 {
    text-align: center;
}


.social-links li a {
    text-decoration: none;
}

footer {
    background-color: #c6838c;
    color: #ecf0f1;
    padding: 16px 0;
}